node_modules
data*.json
todo*.json
*-grade.yml.old*
git-log-summary.txt
.DS_Store
/test-results/
/playwright-report/
/playwright/.cache/
/e2e/test-whole-game.spec.ts
/e2e/test-cicd-default-false.spec.ts